/*================= GLOBAL ==================*/
body {
	font-family: 'Raleway', sans-serif;
	margin-top: 1.25rem;
	font-weight: 400;
}

a {
	color :var(--bs-dark-gray);
}

a:hover {
	 color: #c94258;
}

h1, .navbar-brand {
    text-transform: uppercase;
	letter-spacing: .25rem;
}

h1 {
	margin-top: 1.5rem;
	margin-bottom: 2.75rem;
}

p {
    color: #616265;
    letter-spacing: 1px;
}

main {
	margin-bottom: 5rem;
}

/*================= HEADER ==================*/
/*----------------- Navigation --------------*/
.navbar-brand.h1 {
	font-weight: 700;
}

.navbar-toggler {
	color: var(--bs-dark-gray);
	border-color: rgba(0,0,0,.5);
}

.nav .nav-item {
	padding: 1.25rem 2.5rem;
	letter-spacing: .0625rem;
}

.nav .nav-item.active .nav-link {
    border-bottom: 1px solid #cf566a;
}

/*================= CONTENT ==================*/


/*================= FOOTER ==================*/
footer .list-group-horizontal .list-group-item {
	background-color: transparent;
	border: none;
}


/*================= MEDIA QUERIES ==================*/
/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}